version: "3.8"

services:
  mysql:
    image: mysql:8.3
    container_name: ums-mysql
    environment:
      MYSQL_DATABASE: user_db
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  user-management-system:
    build: .
    container_name: user-management-system
    ports:
      - "2023:2023"
    env_file:
      - .env
    depends_on:
      mysql:
        condition: service_healthy

volumes:
  mysql-data:
